.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ol li{
    list-style: none;
    display: flex;
    float: left;
    padding: 5px;
    justify-content: space-between;
    padding-top: 0px;
   
    
}
nav ol li a {
    text-decoration: none;
}

  
